In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
df=pd.read_csv('netflix_titles.csv')

In [9]:
df.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [10]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [11]:
df.shape

(8807, 12)

In [12]:
df.describe()

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [13]:
df.isnull()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,False,False,False,False,True,False,False,False,False,False,False,False
1,False,False,False,True,False,False,False,False,False,False,False,False
2,False,False,False,False,False,True,False,False,False,False,False,False
3,False,False,False,True,True,True,False,False,False,False,False,False
4,False,False,False,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,False,False,False,False,False,False,False,False,False,False,False,False
8803,False,False,False,True,True,True,False,False,False,False,False,False
8804,False,False,False,False,False,False,False,False,False,False,False,False
8805,False,False,False,False,False,False,False,False,False,False,False,False
8806,False,False,False,False,False,False,False,False,False,False,False,False

In [14]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [15]:
df.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [17]:
df.dropna()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"September 24, 2021",2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic","September 23, 2021",2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...
24,s25,Movie,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",India,"September 21, 2021",1998,TV-14,166 min,"Comedies, International Movies, Romantic Movies",When the father of the man she loves insists t...
...,...,...,...,...,...,...,...,...,...,...,...,...
8801,s8802,Movie,Zinzana,Majid Al Ansari,"Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, ...","United Arab Emirates, Jordan","March 9, 2016",2015,TV-MA,96 min,"Dramas, International Movies, Thrillers",Recovering alcoholic Talal wakes up inside a s...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [18]:
df.dropna()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"September 24, 2021",2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic","September 23, 2021",2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...
24,s25,Movie,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",India,"September 21, 2021",1998,TV-14,166 min,"Comedies, International Movies, Romantic Movies",When the father of the man she loves insists t...
...,...,...,...,...,...,...,...,...,...,...,...,...
8801,s8802,Movie,Zinzana,Majid Al Ansari,"Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, ...","United Arab Emirates, Jordan","March 9, 2016",2015,TV-MA,96 min,"Dramas, International Movies, Thrillers",Recovering alcoholic Talal wakes up inside a s...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [19]:
df.dropna(axis=1) # removes entire column if they have any missing columns

,show_id,type,title,release_year,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,2020,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,2021,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,2021,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,2021,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,2021,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,2007,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,2018,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,2009,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,2006,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,2015,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [20]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [21]:
df['director'].isnull().sum()

2634

In [22]:
df['cast'].isnull().sum()

825

In [23]:
df['country'].isnull().sum()

831

In [24]:
df['date_added'].isnull().sum()

10

In [25]:
df['rating'].isnull().sum()

4

In [26]:
df['duration'].isnull().sum()

3

In [27]:
df['director'] = df['director'].fillna('Unknown')

In [28]:
df['director'].isnull().sum()

0

In [29]:

df['cast']=df['cast'].fillna('Unknown')
df['country']=df['cast'].fillna('Unknown')
df['date_added']=df['date_added'].fillna('Nil')
df['rating']=df['rating'].fillna('Unknown')
df['duration']=df['duration'].fillna('Unknown')

In [30]:
df_dire= df[df['director'] != 'Unknown']

In [31]:
from collections import Counter
dir_counter = Counter()
for direc in df_dire['director']:
    for name in direc.split(','):
        name = name.strip()
        if name.lower() != 'Unknown' and name != '':
            dir_counter[name] +=1
top_directors = dir_counter.most_common(10)
print(top_directors)

[('Rajiv Chilaka', 22), ('Jan Suter', 21), ('Raúl Campos', 19), ('Suhas Kadav', 16), ('Marcus Raboy', 16), ('Jay Karas', 15), ('Cathy Garcia-Molina', 13), ('Youssef Chahine', 12), ('Martin Scorsese', 12), ('Jay Chapman', 12)]

In [32]:
import matplotlib.pyplot as plt
names,counts = zip(*top_directors)
plt.figure(figsize=(10,6))
plt.barh(names,counts,color = 'skyblue')
plt.xlabel('Number of shows')
plt.ylabel('Top 10 Directors')
plt.gca().invert_yaxis()
plt.show()

/var/folders/d2/6d2rdfjs1nnf_chsrv66nlxw0000gn/T/ipykernel_80390/878316840.py:8: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

In [33]:
df.columns.tolist()

['show_id',
 'type',
 'title',
 'director',
 'cast',
 'country',
 'date_added',
 'release_year',
 'rating',
 'duration',
 'listed_in',
 'description']

In [34]:
df.shape

(8807, 12)

In [35]:
numerical = df.select_dtypes(include = 'number').columns
for cols in numerical:
    plt.figure(figsize=(10,4))
    plt.subplot(1,2,1)
    sns.histplot(df[cols],kde=True)
    plt.title(f'Histogram of {cols}')
    plt.subplot(1,2,2)
    sns.boxplot(x=df[cols])
    plt.title(f'Boxplot of {cols}')
    plt.tight_layout()
    plt.show()

/var/folders/d2/6d2rdfjs1nnf_chsrv66nlxw0000gn/T/ipykernel_80390/3168762170.py:11: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

In [36]:
categorical = df.select_dtypes(include=['object', 'category', 'string']).columns
for col in categorical:
    if df[col].nunique() <= 50:
        plt.figure(figsize=(10, 4))
        plt.subplot(1, 1, 1)  # You used (1,2,1) but only have 1 plot here
        sns.countplot(x=cols, data=df, order=df[cols].value_counts().index)
        plt.title(f'Count Plot of {cols}')
        plt.xticks(rotation=45)
        plt.tight_layout()
        plt.show()

/var/folders/d2/6d2rdfjs1nnf_chsrv66nlxw0000gn/T/ipykernel_80390/2038100848.py:10: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()
/var/folders/d2/6d2rdfjs1nnf_chsrv66nlxw0000gn/T/ipykernel_80390/2038100848.py:10: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

In [37]:
# Fix: Include 'object' type columns as categorical too
categorical = df.select_dtypes(include=['object', 'category', 'string']).columns

# Loop through each categorical column
for col in categorical:
    if df[col].nunique() <= 50:  # Optional: skip columns with too many unique values
        plt.figure(figsize=(10, 4))
        sns.countplot(x=col, data=df, order=df[col].value_counts().index)
        plt.title(f'Count Plot of {col}')
        plt.xticks(rotation=45)
        plt.tight_layout()
        plt.show()
    else:
        print(f"Skipping {col} — too many unique values: {df[col].nunique()}")

/var/folders/d2/6d2rdfjs1nnf_chsrv66nlxw0000gn/T/ipykernel_80390/3607924314.py:12: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()
/var/folders/d2/6d2rdfjs1nnf_chsrv66nlxw0000gn/T/ipykernel_80390/3607924314.py:12: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

Skipping show_id — too many unique values: 8807
Skipping title — too many unique values: 8807
Skipping director — too many unique values: 4529
Skipping cast — too many unique values: 7693
Skipping country — too many unique values: 7693
Skipping date_added — too many unique values: 1768
Skipping duration — too many unique values: 221
Skipping listed_in — too many unique values: 514
Skipping description — too many unique values: 8775

In [38]:
numerical_cols=df.select_dtypes(include='number').columns
for col in numerical_cols:
    Q1=df[col].quantile(0.25)
    Q3=df[col].quantile(0.75)
    IQR= Q3- Q1
    lower_bound = Q1-1.5 * IQR
    upper_bound = Q3+1.5 *IQR
    outliers = df[(df[col] < lower_bound) | (df[col] > upper_bound)]
    print(f'{col}: {len(outliers)} outliers')

release_year: 719 outliers

In [39]:
from scipy.stats import zscore
import numpy as np

# Apply z-score method
for col in numerical_cols:
    z_scores = zscore(df[col].dropna())
    outliers = df[np.abs(z_scores) > 3]
    print(f'{col}: {len(outliers)} outliers (Z-score method)')

release_year: 217 outliers (Z-score method)

In [40]:
import seaborn as sns
import matplotlib.pyplot as plt

for col in numerical_cols:
    plt.figure(figsize=(6, 2))
    sns.boxplot(x=df[col])
    plt.title(f'Boxplot of {col}')
    plt.show()

/var/folders/d2/6d2rdfjs1nnf_chsrv66nlxw0000gn/T/ipykernel_80390/1121726608.py:8: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

In [41]:
outliers = df[(df['release_year'] < lower_bound) | (df['release_year'] > upper_bound)]
print(outliers[['release_year']].head())

    release_year
7           1993
22          1996
24          1998
26          1997
41          1975

In [42]:
import pandas as pd

# Select numerical columns
numerical_cols = df.select_dtypes(include='number').columns

# Create an empty set to store index of all outlier rows
outlier_indices = set()

# Loop over each column and collect outlier row indices
for col in numerical_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    
    outliers = df[(df[col] < lower_bound) | (df[col] > upper_bound)]
    outlier_indices.update(outliers.index)

# Final count of unique rows with any outlier
print(f"Unique rows with at least one outlier: {len(outlier_indices)}")

Unique rows with at least one outlier: 719

In [43]:
sns.boxplot(data=df['release_year'])
plt.show()

/var/folders/d2/6d2rdfjs1nnf_chsrv66nlxw0000gn/T/ipykernel_80390/2319857503.py:2: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

In [44]:
sns.stripplot(data=df,x='release_year',y='type',jitter = True,alpha=0.5)

In [45]:
df[df['release_year']<1900]
df[df['release_year']>2025]
df_clean = df[(df['release_year'] >= 1900) & (df['release_year'] <= 2025)]
sns.stripplot(data=df,x='release_year',y='type',jitter = True,alpha=0.5)
sns.countplot(data=df, x='release_year', hue='type')

In [46]:
from scipy.stats import zscore

df['z'] = zscore(df['release_year'])
sns.histplot(df['z'], bins=50)
plt.axvline(3, color='red'); plt.axvline(-3, color='red')

### Most Common Content Types by Country

In [47]:
df_filtered = df[df['country'] != 'Unknown']
df['country'] = df['country'].apply(lambda x: x.split(',')[0])
top_countries=df_filtered['country'].value_counts().head(10).index
df_top = df[df['country'].isin(top_countries)]
country_type = df_top.groupby(['country','type']).size().unstack().fillna(0)
country_type.plot(kind='bar',stacked=True,figsize=(15,6),colormap='tab10')
plt.title('Movies vs Country')
plt.ylabel('Number of tiles')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

/var/folders/d2/6d2rdfjs1nnf_chsrv66nlxw0000gn/T/ipykernel_80390/1891030592.py:11: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

In [48]:
# Remove 'Unknown'
df_filtered = df[df['country'] != 'Unknown']


# Find top countries by content count
top_countries = df_filtered['country'].value_counts().head(10).index

# Filter data
df_top = df[df['country'].isin(top_countries)]

# Group and reshape
country_type = df_top.groupby(['country', 'type']).size().unstack(fill_value=0)

# Sort countries by total titles
country_type = country_type.loc[country_type.sum(axis=1).sort_values(ascending=False).index]

# Plot
country_type.plot(kind='bar', stacked=True, figsize=(10, 6), colormap='tab10')
plt.title('Number of Movies and TV Shows by Country (Top 10 Countries)')
plt.ylabel('Number of Titles')
plt.xlabel('Country')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

/var/folders/d2/6d2rdfjs1nnf_chsrv66nlxw0000gn/T/ipykernel_80390/3856442642.py:24: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

In [49]:
import matplotlib.pyplot as plt

# Exclude unknown countries
df_filtered = df[df['country'].notna() & (df['country'] != 'Unknown')]

# Get top 10 countries by content count
top_countries = df_filtered['country'].value_counts().head(10).index

# Filter dataset for those countries
df_top = df[df['country'].isin(top_countries)]

# Group by country and type (Movie/TV Show)
country_type = df_top.groupby(['country', 'type']).size().unstack(fill_value=0)

# Sort countries by total number of titles
country_type = country_type.loc[country_type.sum(axis=1).sort_values(ascending=False).index]

# Plot
country_type.plot(kind='bar', stacked=True, figsize=(10, 6), colormap='tab10')
plt.title('Number of Movies and TV Shows by Country (Top 10 Countries)')
plt.ylabel('Number of Titles')
plt.xlabel('Country')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

/var/folders/d2/6d2rdfjs1nnf_chsrv66nlxw0000gn/T/ipykernel_80390/116767673.py:25: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

In [50]:
sns.heatmap(df.isnull())

In [51]:
# Count types
type_counts=df['type'].value_counts()
sns.barplot(x=type_counts.index,y=type_counts.values,palette='viridis')
plt.title('Number of Movies vs TV Shows on Netflix')
plt.xlabel('Type')
plt.ylabel('Count')
for i,value in enumerate(type_counts.values):
    plt.text(i,value+100,str(value),ha='center',va='bottom',fontweight='bold')
plt.tight_layout()
plt.show()

/var/folders/d2/6d2rdfjs1nnf_chsrv66nlxw0000gn/T/ipykernel_80390/2446018422.py:10: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

In [52]:
df.groupby(['release_year','type']).size().unstack().plot(kind='bar',stacked=False,figsize=(12,6))
plt.title('Movies vs TV shows added over the years')
plt.xlabel('Release year')
plt.ylabel('Number of titles')
plt.tight_layout()
plt.show()

/var/folders/d2/6d2rdfjs1nnf_chsrv66nlxw0000gn/T/ipykernel_80390/4201180427.py:6: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

In [53]:
# Only use rows where country is not null
# Then split multi-country rows into separate rows
countries_series = df['country'].dropna().str.split(', ').explode()

# Strip whitespace (in case of extra spaces)
countries_series = countries_series.str.strip()

# Count top 10 countries
country_counts = countries_series.value_counts().head(10)

# Visualize
import seaborn as sns
import matplotlib.pyplot as plt

plt.figure(figsize=(10,6))
sns.barplot(x=country_counts.values, y=country_counts.index, palette='crest')
plt.title('Top 10 Countries by Number of Netflix Titles')
plt.xlabel('Number of Titles')
plt.ylabel('Country')

# Add labels to bars
for index, value in enumerate(country_counts.values):
    plt.text(value + 20, index, str(value), va='center', fontweight='bold')

plt.tight_layout()
plt.show()

/var/folders/d2/6d2rdfjs1nnf_chsrv66nlxw0000gn/T/ipykernel_80390/3437242866.py:26: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

In [54]:
print(df[['country', 'cast']].sample(5))

            country                                               cast
545   Kira Buckland  Kira Buckland, Ryan Bartley, Bryce Papenbrook,...
4599     Miss Pooja  Miss Pooja, Tarun Khanna, Raj Singh Jhinger, S...
5235        Goo Jin  Goo Jin, Hye-jin Han, Soo-bin Bae, Seul-ong Im...
1426     Ajay Devgn  Ajay Devgn, Gracy Singh, Mohan Agashe, Mohan J...
8348        Unknown                                            Unknown

In [55]:
print(df.columns)
print(df.iloc[0])

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description', 'z'],
      dtype='object')
show_id                                                        s1
type                                                        Movie
title                                        Dick Johnson Is Dead
director                                          Kirsten Johnson
cast                                                      Unknown
country                                                   Unknown
date_added                                     September 25, 2021
release_year                                                 2020
rating                                                      PG-13
duration                                                   90 min
listed_in                                           Documentaries
description     As her father nears the end of his life, filmm...
z                                                         0.65993
Name: 0, dtype: object

In [56]:
df = pd.read_csv('netflix_titles.csv', encoding='utf-8', quotechar='"', escapechar='\\')

In [57]:
print(df.columns)
print(df.iloc[0])

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')
show_id                                                        s1
type                                                        Movie
title                                        Dick Johnson Is Dead
director                                          Kirsten Johnson
cast                                                          NaN
country                                             United States
date_added                                     September 25, 2021
release_year                                                 2020
rating                                                      PG-13
duration                                                   90 min
listed_in                                           Documentaries
description     As her father nears the end of his life, filmm...
Name: 0, dtype: object

## What are the top 10 countries by number of Netflix titles overall?

In [58]:
# Only use rows where country is not null
# Then split multi-country rows into separate rows
countries_series = df['country'].dropna().str.split(', ').explode()

# Strip whitespace (in case of extra spaces)
countries_series = countries_series.str.strip()

# Count top 10 countries
country_counts = countries_series.value_counts().head(10)

# Visualize
import seaborn as sns
import matplotlib.pyplot as plt

plt.figure(figsize=(10,6))
sns.barplot(x=country_counts.values, y=country_counts.index, palette='crest')
plt.title('Top 10 Countries by Number of Netflix Titles')
plt.xlabel('Number of Titles')
plt.ylabel('Country')

# Add labels to bars
for index, value in enumerate(country_counts.values):
    plt.text(value + 20, index, str(value), va='center', fontweight='bold')

plt.tight_layout()
plt.show()

/var/folders/d2/6d2rdfjs1nnf_chsrv66nlxw0000gn/T/ipykernel_80390/668396770.py:26: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

## Distribution by Genre:

In [59]:
df.columns.tolist()

['show_id',
 'type',
 'title',
 'director',
 'cast',
 'country',
 'date_added',
 'release_year',
 'rating',
 'duration',
 'listed_in',
 'description']

My data does not have any special column genre, so i am creating it and there by i shall analyze how the trends work

In [60]:
df_genres = df.dropna(subset = ['listed_in'])
df_genres = df_genres.assign(genre = df_genres['listed_in'].str.split(',')).explode('genre')
df_genres['genre'] = df_genres['genre'].str.strip()

In [61]:
genre_counts = df_genres['genre'].value_counts()
print(genre_counts.head(10))

International Movies        2752
Dramas                      2427
Comedies                    1674
International TV Shows      1351
Documentaries                869
Action & Adventure           859
TV Dramas                    763
Independent Movies           756
Children & Family Movies     641
Romantic Movies              616
Name: genre, dtype: int64

In [62]:
top10_counts = genre_counts.head(10)
plt.figure(figsize=(10,6))
sns.barplot(x = top10_counts.values , y=top10_counts.index,palette = 'viridis')
for i, v in enumerate(top10_counts):
    plt.text(v + 10, i, str(v), va='center', fontweight='bold')
plt.title('Top 10 Genres')
plt.ylabel('Genres')
plt.xlabel('Number of titles')
plt.show()

/var/folders/d2/6d2rdfjs1nnf_chsrv66nlxw0000gn/T/ipykernel_80390/1922903479.py:9: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

## Country-wise Content Production

In [63]:
country_counts = df['country'].value_counts().reset_index()
country_counts.columns = ['country','count']

In [64]:
plt.figure(figsize=(12,6))
sns.barplot(data=country_counts.head(20), x='count', y='country', palette='viridis')
plt.title('Top 20 countries with highest content production')
plt.xlabel('Number of titles')
plt.ylabel('Top 20 countries')
plt.tight_layout()
plt.show()

/var/folders/d2/6d2rdfjs1nnf_chsrv66nlxw0000gn/T/ipykernel_80390/4068828803.py:7: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

In [65]:
print(country_counts.head())
print(country_counts.columns)

          country  count
0   United States   2818
1           India    972
2  United Kingdom    419
3           Japan    245
4     South Korea    199
Index(['country', 'count'], dtype='object')

In [66]:
outliers = df[(df['release_year'] < lower_bound) | (df['release_year'] > upper_bound)]
print(outliers[['release_year']].head())

    release_year
7           1993
22          1996
24          1998
26          1997
41          1975

In [67]:
import plotly.io as pio
pio.renderers.default = 'notebook'

In [68]:
import plotly.express as px
fig = px.choropleth(
country_counts,
locations='country',
locationmode='country names',
color='count',
color_continuous_scale='reds',
title = 'Netflix shows world-wide')
fig.show()

## Most frequently appearing actors or directors

In [69]:
df_cast = df.dropna(subset=['cast'])
actors = df.dropna(subset=['cast']).copy()
actors_counts = df['cast'].value_counts().reset_index()
actors['cast']= actors['cast'].str.split(', ')
actors = actors.explode('cast')
actors_counts.columns = ['actor','count']

In [70]:
directors_df = df.dropna(subset=['director']).copy()
directors_df['director'] = directors_df['director'].str.split(', ')
directors_df = directors_df.explode('director')
# Count appearances
director_counts = directors_df['director'].value_counts().rename_axis('director').reset_index(name='count')

In [71]:
# Step 1: Drop nulls from 'cast' column
df_cast = df.dropna(subset=['cast'])

# Step 2: Create a list of all actor names
from itertools import chain

all_actors = list(chain.from_iterable(df_cast['cast'].str.split(', ')))

# Step 3: Create a value_counts DataFrame
import pandas as pd
actor_counts = pd.Series(all_actors).value_counts().reset_index()
actor_counts.columns = ['actor', 'count']

# Step 4: Plot
import matplotlib.pyplot as plt
import seaborn as sns

plt.figure(figsize=(12,6))
sns.barplot(data=actor_counts.head(20), x='count', y='actor', palette='magma')
plt.title('Top 20 Actors on Netflix')
plt.xlabel('Number of Titles')
plt.ylabel('Actor')
plt.tight_layout()
plt.show()

/var/folders/d2/6d2rdfjs1nnf_chsrv66nlxw0000gn/T/ipykernel_80390/3979224208.py:24: UserWarning:

Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.

In [72]:
# Step 1: Drop nulls from 'cast' column
df_cast = df.dropna(subset=['director'])

# Step 2: Create a list of all actor names
from itertools import chain

all_actors = list(chain.from_iterable(df_cast['director'].str.split(', ')))

# Step 3: Create a value_counts DataFrame
import pandas as pd
actor_counts = pd.Series(all_actors).value_counts().reset_index()
actor_counts.columns = ['director', 'count']

# Step 4: Plot
import matplotlib.pyplot as plt
import seaborn as sns

plt.figure(figsize=(12,6))
sns.barplot(data=actor_counts.head(20), x='count', y='director', palette='magma')
plt.title('Top 20 directors on Netflix')
plt.xlabel('Number of Titles')
plt.ylabel('Director')
plt.tight_layout()
plt.show()

/var/folders/d2/6d2rdfjs1nnf_chsrv66nlxw0000gn/T/ipykernel_80390/4290418791.py:24: UserWarning:

Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.

## Movie vs TV Show Share

In [73]:
df['type'].value_counts().plot(kind='pie',autopct='%1.1f%%',startangle=90,colors=['#ff9999','#66b3ff'])
plt.title('Movie vs TV Show Share')
plt.ylabel('Number of titles')
plt.show()

/var/folders/d2/6d2rdfjs1nnf_chsrv66nlxw0000gn/T/ipykernel_80390/3743551530.py:4: UserWarning:

Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.

In [74]:
print(df['release_year'].sort_values().unique())

[1925 1942 1943 1944 1945 1946 1947 1954 1955 1956 1958 1959 1960 1961
 1962 1963 1964 1965 1966 1967 1968 1969 1970 1971 1972 1973 1974 1975
 1976 1977 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987 1988 1989
 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003
 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 2016 2017
 2018 2019 2020 2021]

In [75]:
plt.figure(figsize=(12,6))
sns.countplot(data=df, x='release_year', order=df['release_year'].value_counts().index.sort_values(), palette='coolwarm')
plt.xticks(rotation=45)
plt.title('Number of Titles Released Each Year')
plt.xlabel('Release Year')
plt.ylabel('Number of Titles')
plt.tight_layout()
plt.show()

/var/folders/d2/6d2rdfjs1nnf_chsrv66nlxw0000gn/T/ipykernel_80390/909139499.py:8: UserWarning:

Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.

In [82]:
pip install streamlit --upgrade

Requirement already satisfied: streamlit in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (1.46.1)
Requirement already satisfied: altair<6,>=4.0 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from streamlit) (5.5.0)
Requirement already satisfied: blinker<2,>=1.5.0 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from streamlit) (1.9.0)
Requirement already satisfied: cachetools<7,>=4.0 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from streamlit) (5.3.2)
Requirement already satisfied: click<9,>=7.0 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from streamlit) (8.0.4)
Requirement already satisfied: numpy<3,>=1.23 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from streamlit) (1.24.3)
Requirement already satisfied: packaging<26,>=20 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from streamlit) (24.2)
Requirement already satisfied: pandas<3,>=1.4.0 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from streamlit) (1.5.3)
Requirement already satisfied: pillow<12,>=7.1.0 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from streamlit) (9.4.0)
Requirement already satisfied: protobuf<7,>=3.20 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from streamlit) (4.23.4)
Requirement already satisfied: pyarrow>=7.0 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from streamlit) (11.0.0)
Requirement already satisfied: requests<3,>=2.27 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from streamlit) (2.31.0)
Requirement already satisfied: tenacity<10,>=8.1.0 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from streamlit) (8.2.2)
Requirement already satisfied: toml<2,>=0.10.1 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.4.0 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from streamlit) (4.12.2)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from streamlit) (3.1.44)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from streamlit) (0.9.1)
Requirement already satisfied: tornado!=6.5.0,<7,>=6.0.3 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from streamlit) (6.3.2)
Requirement already satisfied: jinja2 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from altair<6,>=4.0->streamlit) (3.1.2)
Requirement already satisfied: jsonschema>=3.0 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from altair<6,>=4.0->streamlit) (4.17.3)
Requirement already satisfied: narwhals>=1.14.2 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from altair<6,>=4.0->streamlit) (1.46.0)
Requirement already satisfied: gitdb<5,>=4.0.1 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.12)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from pandas<3,>=1.4.0->streamlit) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from pandas<3,>=1.4.0->streamlit) (2022.7)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from requests<3,>=2.27->streamlit) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from requests<3,>=2.27->streamlit) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from requests<3,>=2.27->streamlit) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from requests<3,>=2.27->streamlit) (2023.7.22)
Requirement already satisfied: smmap<6,>=3.0.1 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (5.0.2)
Requirement already satisfied: MarkupSafe>=2.0 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from jinja2->altair<6,>=4.0->streamlit) (2.1.1)
Requirement already satisfied: attrs>=17.4.0 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (24.3.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.18.0)
Requirement already satisfied: six>=1.5 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.1->pandas<3,>=1.4.0->streamlit) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [76]:
pip install streamlit_jupyter

Requirement already satisfied: streamlit_jupyter in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (0.2.1)
Requirement already satisfied: fastcore in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from streamlit_jupyter) (1.8.5)
Requirement already satisfied: ipywidgets==7.7.2 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from streamlit_jupyter) (7.7.2)
Requirement already satisfied: jupyter in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from streamlit_jupyter) (1.0.0)
Requirement already satisfied: stqdm in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from streamlit_jupyter) (0.0.5)
Requirement already satisfied: streamlit>=1.19 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from streamlit_jupyter) (1.46.1)
Requirement already satisfied: tabulate in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from streamlit_jupyter) (0.8.10)
Requirement already satisfied: tqdm in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from streamlit_jupyter) (4.65.0)
Requirement already satisfied: ipykernel>=4.5.1 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from ipywidgets==7.7.2->streamlit_jupyter) (6.29.5)
Requirement already satisfied: ipython-genutils~=0.2.0 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from ipywidgets==7.7.2->streamlit_jupyter) (0.2.0)
Requirement already satisfied: traitlets>=4.3.1 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from ipywidgets==7.7.2->streamlit_jupyter) (5.7.1)
Requirement already satisfied: widgetsnbextension~=3.6.0 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from ipywidgets==7.7.2->streamlit_jupyter) (3.6.10)
Requirement already satisfied: ipython>=4.0.0 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from ipywidgets==7.7.2->streamlit_jupyter) (8.12.0)
Requirement already satisfied: jupyterlab-widgets<3,>=1.0.0 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from ipywidgets==7.7.2->streamlit_jupyter) (1.1.11)
Requirement already satisfied: altair<6,>=4.0 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from streamlit>=1.19->streamlit_jupyter) (5.5.0)
Requirement already satisfied: blinker<2,>=1.5.0 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from streamlit>=1.19->streamlit_jupyter) (1.9.0)
Requirement already satisfied: cachetools<7,>=4.0 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from streamlit>=1.19->streamlit_jupyter) (5.3.2)
Requirement already satisfied: click<9,>=7.0 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from streamlit>=1.19->streamlit_jupyter) (8.0.4)
Requirement already satisfied: numpy<3,>=1.23 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from streamlit>=1.19->streamlit_jupyter) (1.24.3)
Requirement already satisfied: packaging<26,>=20 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from streamlit>=1.19->streamlit_jupyter) (24.2)
Requirement already satisfied: pandas<3,>=1.4.0 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from streamlit>=1.19->streamlit_jupyter) (1.5.3)
Requirement already satisfied: pillow<12,>=7.1.0 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from streamlit>=1.19->streamlit_jupyter) (9.4.0)
Requirement already satisfied: protobuf<7,>=3.20 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from streamlit>=1.19->streamlit_jupyter) (4.23.4)
Requirement already satisfied: pyarrow>=7.0 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from streamlit>=1.19->streamlit_jupyter) (11.0.0)
Requirement already satisfied: requests<3,>=2.27 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from streamlit>=1.19->streamlit_jupyter) (2.31.0)
Requirement already satisfied: tenacity<10,>=8.1.0 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from streamlit>=1.19->streamlit_jupyter) (8.2.2)
Requirement already satisfied: toml<2,>=0.10.1 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from streamlit>=1.19->streamlit_jupyter) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.4.0 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from streamlit>=1.19->streamlit_jupyter) (4.12.2)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from streamlit>=1.19->streamlit_jupyter) (3.1.44)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from streamlit>=1.19->streamlit_jupyter) (0.9.1)
Requirement already satisfied: tornado!=6.5.0,<7,>=6.0.3 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from streamlit>=1.19->streamlit_jupyter) (6.3.2)
Requirement already satisfied: notebook in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from jupyter->streamlit_jupyter) (6.5.4)
Requirement already satisfied: qtconsole in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from jupyter->streamlit_jupyter) (5.4.2)
Requirement already satisfied: jupyter-console in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from jupyter->streamlit_jupyter) (6.6.3)
Requirement already satisfied: nbconvert in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from jupyter->streamlit_jupyter) (6.5.4)
Requirement already satisfied: jinja2 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from altair<6,>=4.0->streamlit>=1.19->streamlit_jupyter) (3.1.2)
Requirement already satisfied: jsonschema>=3.0 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from altair<6,>=4.0->streamlit>=1.19->streamlit_jupyter) (4.17.3)
Requirement already satisfied: narwhals>=1.14.2 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from altair<6,>=4.0->streamlit>=1.19->streamlit_jupyter) (1.46.0)
Requirement already satisfied: gitdb<5,>=4.0.1 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit>=1.19->streamlit_jupyter) (4.0.12)
Requirement already satisfied: appnope in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from ipykernel>=4.5.1->ipywidgets==7.7.2->streamlit_jupyter) (0.1.2)
Requirement already satisfied: comm>=0.1.1 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from ipykernel>=4.5.1->ipywidgets==7.7.2->streamlit_jupyter) (0.1.2)
Requirement already satisfied: debugpy>=1.6.5 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from ipykernel>=4.5.1->ipywidgets==7.7.2->streamlit_jupyter) (1.6.7)
Requirement already satisfied: jupyter-client>=6.1.12 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from ipykernel>=4.5.1->ipywidgets==7.7.2->streamlit_jupyter) (8.6.3)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from ipykernel>=4.5.1->ipywidgets==7.7.2->streamlit_jupyter) (5.7.2)
Requirement already satisfied: matplotlib-inline>=0.1 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from ipykernel>=4.5.1->ipywidgets==7.7.2->streamlit_jupyter) (0.1.6)
Requirement already satisfied: nest-asyncio in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from ipykernel>=4.5.1->ipywidgets==7.7.2->streamlit_jupyter) (1.5.6)
Requirement already satisfied: psutil in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from ipykernel>=4.5.1->ipywidgets==7.7.2->streamlit_jupyter) (5.9.0)
Requirement already satisfied: pyzmq>=24 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from ipykernel>=4.5.1->ipywidgets==7.7.2->streamlit_jupyter) (26.2.0)
Requirement already satisfied: backcall in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from ipython>=4.0.0->ipywidgets==7.7.2->streamlit_jupyter) (0.2.0)
Requirement already satisfied: decorator in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from ipython>=4.0.0->ipywidgets==7.7.2->streamlit_jupyter) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from ipython>=4.0.0->ipywidgets==7.7.2->streamlit_jupyter) (0.18.1)
Requirement already satisfied: pickleshare in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from ipython>=4.0.0->ipywidgets==7.7.2->streamlit_jupyter) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from ipython>=4.0.0->ipywidgets==7.7.2->streamlit_jupyter) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from ipython>=4.0.0->ipywidgets==7.7.2->streamlit_jupyter) (2.15.1)
Requirement already satisfied: stack-data in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from ipython>=4.0.0->ipywidgets==7.7.2->streamlit_jupyter) (0.2.0)
Requirement already satisfied: pexpect>4.3 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from ipython>=4.0.0->ipywidgets==7.7.2->streamlit_jupyter) (4.8.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from pandas<3,>=1.4.0->streamlit>=1.19->streamlit_jupyter) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from pandas<3,>=1.4.0->streamlit>=1.19->streamlit_jupyter) (2022.7)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from requests<3,>=2.27->streamlit>=1.19->streamlit_jupyter) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from requests<3,>=2.27->streamlit>=1.19->streamlit_jupyter) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from requests<3,>=2.27->streamlit>=1.19->streamlit_jupyter) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from requests<3,>=2.27->streamlit>=1.19->streamlit_jupyter) (2023.7.22)

Requirement already satisfied: argon2-cffi in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from notebook->jupyter->streamlit_jupyter) (21.3.0)
Requirement already satisfied: nbformat in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from notebook->jupyter->streamlit_jupyter) (5.7.0)
Requirement already satisfied: Send2Trash>=1.8.0 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from notebook->jupyter->streamlit_jupyter) (1.8.0)
Requirement already satisfied: terminado>=0.8.3 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from notebook->jupyter->streamlit_jupyter) (0.17.1)
Requirement already satisfied: prometheus-client in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from notebook->jupyter->streamlit_jupyter) (0.14.1)
Requirement already satisfied: nbclassic>=0.4.7 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from notebook->jupyter->streamlit_jupyter) (0.5.5)
Requirement already satisfied: lxml in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from nbconvert->jupyter->streamlit_jupyter) (4.9.2)
Requirement already satisfied: beautifulsoup4 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from nbconvert->jupyter->streamlit_jupyter) (4.12.2)
Requirement already satisfied: bleach in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from nbconvert->jupyter->streamlit_jupyter) (4.1.0)
Requirement already satisfied: defusedxml in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from nbconvert->jupyter->streamlit_jupyter) (0.7.1)
Requirement already satisfied: entrypoints>=0.2.2 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from nbconvert->jupyter->streamlit_jupyter) (0.4)
Requirement already satisfied: jupyterlab-pygments in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from nbconvert->jupyter->streamlit_jupyter) (0.1.2)
Requirement already satisfied: MarkupSafe>=2.0 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from nbconvert->jupyter->streamlit_jupyter) (2.1.1)
Requirement already satisfied: mistune<2,>=0.8.1 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from nbconvert->jupyter->streamlit_jupyter) (0.8.4)
Requirement already satisfied: nbclient>=0.5.0 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from nbconvert->jupyter->streamlit_jupyter) (0.5.13)
Requirement already satisfied: pandocfilters>=1.4.1 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from nbconvert->jupyter->streamlit_jupyter) (1.5.0)
Requirement already satisfied: tinycss2 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from nbconvert->jupyter->streamlit_jupyter) (1.2.1)
Requirement already satisfied: qtpy>=2.0.1 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from qtconsole->jupyter->streamlit_jupyter) (2.2.0)
Requirement already satisfied: smmap<6,>=3.0.1 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit>=1.19->streamlit_jupyter) (5.0.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from jedi>=0.16->ipython>=4.0.0->ipywidgets==7.7.2->streamlit_jupyter) (0.8.3)
Requirement already satisfied: attrs>=17.4.0 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit>=1.19->streamlit_jupyter) (24.3.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit>=1.19->streamlit_jupyter) (0.18.0)
Requirement already satisfied: platformdirs>=2.5 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel>=4.5.1->ipywidgets==7.7.2->streamlit_jupyter) (2.5.2)
Requirement already satisfied: jupyter-server>=1.8 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from nbclassic>=0.4.7->notebook->jupyter->streamlit_jupyter) (1.23.4)
Requirement already satisfied: notebook-shim>=0.1.0 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from nbclassic>=0.4.7->notebook->jupyter->streamlit_jupyter) (0.2.2)
Requirement already satisfied: fastjsonschema in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from nbformat->notebook->jupyter->streamlit_jupyter) (2.16.2)
Requirement already satisfied: ptyprocess>=0.5 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from pexpect>4.3->ipython>=4.0.0->ipywidgets==7.7.2->streamlit_jupyter) (0.7.0)
Requirement already satisfied: wcwidth in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30->ipython>=4.0.0->ipywidgets==7.7.2->streamlit_jupyter) (0.2.5)
Requirement already satisfied: six>=1.5 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.1->pandas<3,>=1.4.0->streamlit>=1.19->streamlit_jupyter) (1.16.0)
Requirement already satisfied: argon2-cffi-bindings in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from argon2-cffi->notebook->jupyter->streamlit_jupyter) (21.2.0)
Requirement already satisfied: soupsieve>1.2 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from beautifulsoup4->nbconvert->jupyter->streamlit_jupyter) (2.4)
Requirement already satisfied: webencodings in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from bleach->nbconvert->jupyter->streamlit_jupyter) (0.5.1)
Requirement already satisfied: executing in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from stack-data->ipython>=4.0.0->ipywidgets==7.7.2->streamlit_jupyter) (0.8.3)
Requirement already satisfied: asttokens in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from stack-data->ipython>=4.0.0->ipywidgets==7.7.2->streamlit_jupyter) (2.0.5)
Requirement already satisfied: pure-eval in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from stack-data->ipython>=4.0.0->ipywidgets==7.7.2->streamlit_jupyter) (0.2.2)
Requirement already satisfied: anyio<4,>=3.1.0 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from jupyter-server>=1.8->nbclassic>=0.4.7->notebook->jupyter->streamlit_jupyter) (3.5.0)
Requirement already satisfied: websocket-client in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from jupyter-server>=1.8->nbclassic>=0.4.7->notebook->jupyter->streamlit_jupyter) (1.8.0)
Requirement already satisfied: cffi>=1.0.1 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from argon2-cffi-bindings->argon2-cffi->notebook->jupyter->streamlit_jupyter) (1.15.1)
Requirement already satisfied: sniffio>=1.1 in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from anyio<4,>=3.1.0->jupyter-server>=1.8->nbclassic>=0.4.7->notebook->jupyter->streamlit_jupyter) (1.3.1)
Requirement already satisfied: pycparser in /Users/aakanksha/anaconda3/lib/python3.11/site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->notebook->jupyter->streamlit_jupyter) (2.21)
Note: you may need to restart the kernel to use updated packages.

In [79]:
print(top_countries.head())
print(top_countries.dtypes)

          country  count
0   United States   2818
1           India    972
2  United Kingdom    419
3           Japan    245
4     South Korea    199
country    object
count       int64
dtype: object

In [85]:
df.to_csv("netflix_cleaned.csv", index=False)

In [87]:
import os
print(os.listdir())

['netflix_titles.csv.zip', 'vs', 'Visual Studio Code.app', 'Screenshot 2025-07-01 at 6.25.43\u202fPM.png', 'Screenshot 2025-05-28 at 11.09.10\u202fAM.png', 'transcripts', 'study', 'Screenshot 2025-07-06 at 11.08.14\u202fAM.png', '.DS_Store', 'Screenshot 2025-07-08 at 9.49.57\u202fAM.png', 'mysql-workbench-community-8.0.34-macos-arm64 (1).dmg', '.app.py.swp', 'Screenshot 2025-06-29 at 1.21.48\u202fPM.png', '.localized', 'NLTK practice.ipynb', 'Untitled.ipynb', 'term-statement-pdf.pdf', '225725.png', 'Kondepi 7.1.25.pdf', 'dmv', 'llms.pdf', 'datasets', 'open-ai-trading-bot', 'resumes', '~$kanksha_CIS547_Project Summary_ Fall24.docx', 'Receipt Notice (1).pdf', 'Netflix.ipynb', 'Screenshot 2025-06-19 at 4.21.34\u202fPM.png', 'inspo', 'Aakanksha_Kondepi .pdf', 'Screenshot 2025-05-31 at 6.17.55\u202fPM.png', 'stats Projects', '.env', 'Aakanksha_Kondepi .docx', 'Screenshot 2025-05-28 at 10.45.09\u202fPM.png', 'opt', 'Screenshot 2025-07-01 at 10.46.57\u202fAM.png', '.ipynb_checkpoints', 'visuals', 'diabetes.csv', '2024TaxReturn.PDF', 'netflix_cleaned.csv', 'Screenshot 2025-07-01 at 6.25.35\u202fPM.png', 'Screenshot 2025-07-07 at 10.34.31\u202fAM.png', '.git', 'Screenshot 2025-06-19 at 9.39.37\u202fPM.png', 'netflix_titles.csv']